.App {
  text-align: center;
}

.right-side {
  background-image: url('../images/welcome/Background.jpg');
  margin-left: 40vw;             /* start after the 40vw sidebar */
  width: 60vw;     /* = 60vw, fills the rest of the screen */
  min-height: 100vh;
  box-sizing: border-box;
}

.main-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex; /* Enables flexbox */
  flex-direction: column;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  align-items: flex-start; /* Aligns items to the start of the container */
}

.home_background {
  /* background-position: 0 -73px; */
  background-image: url('../images/welcome/Background.jpg');
  background-repeat: repeat;
  /* height: 100%; */
  /* width: 100%; */
}

.welcome_logo_container {
  /* display: flex;
  justify-content: left;
  align-items: left;
  width: 217px;
  height: 100px;
  flex-direction: column; */
}

.logo_container {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: clamp(1rem, 2vw, 2rem);
  padding-right: clamp(1rem, 2vw, 2rem);
}

.row_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  /* align-items: center; */
  /* min-height: 100px; */
}

.single_container_45 {
  /* padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 0 0 45%;  */
}

.single_container_55 {
  /* padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 0 0 55%; */
}

.fixed-page-height-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  /* min-width: 370px; */
  align-items: center;
  /* min-height: 200px; */
  height: calc(100vh - 50px - 73px);
}

.half-block {
  flex: none; /* Equal amount of space */
  /* min-width: 420px; */
  width: 50%; /* 50% of container's width */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  text-align: left; /* Centers the text horizontally */
  padding: 1rem; /* Adjust the padding as necessary */
  justify-content: row;
}

.third-block {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically within the container */
  align-items: center; /* Center children horizontally within the container */
  padding: 1rem; /* Adjust the padding as necessary */
  flex: 1; /* Children will grow to fill the space */
  /* max-width: 400px; Max width of the container */
  /* min-height: 575px; Min height of the container */
}

.container_for_welcome_logo_container {
  /* display: flex;
  justify-content: left;
  align-items: left;
  width: 454px;
  height: 120px;
  flex-direction: row; */
}

@media (max-width: 720px) {
  .single_container_45 {
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 0 0 45%; 
    /* min-width: 350px; */
    /* padding-right: 0px; */
  }

  . {
    /* padding-top: 10px;
    padding-bottom: 10px;
    flex: 0 0 45%;  */
    /* min-width: 350px; */
  }
}