.experience_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    background-color: #edd3d0;
    border-radius: 20px;
    align-items: stretch; 
    margin-bottom: 10px
}

.container_20 {
    /* width: clamp(40%, 5vw, 15%); */
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5%;
    flex-wrap: wrap;
}

.container_80 {
    /* width: clamp(60%, 5vw, 85%); */
    width: 80%;
    margin: 5%
}

.dark_large_text {
    /* padding-top: 10px;
    padding-bottom: 10px; */
    color: #491a37;
    font-size: clamp(.8rem, 3vw, 1.5rem);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: left;
}