
.navbar {
  background-image: url('../images/welcome/Background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
  width: 40vw;
  height: 100vh;
  /* padding: 0 15px; */
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.navbar-nav-content {
  width: 100%;
  height: 100%;
  padding-top: 12%;
  padding-bottom: 12%;
  padding-left: 10%;
  padding-right: 10%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.jessica-lin-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7px;
  display: flex;
  align-items: center;
}

.icon-btn-container {
  margin-left: clamp(0rem, 1.5vw, 2rem);
  margin-right: clamp(0rem, 1.5vw, 2rem);
}

.icon-btn img {
  height: 100%;
  object-fit: contain;
  display: block;
}

.icon-btn {
  border: none;
  background: inherit;
  padding: 0;
  margin: 0;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(1.5rem, 4vw, 8rem);
  height: clamp(1.5rem, 4vw, 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn-container {
  margin: clamp(0rem, 5vw, 1.5rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
}

.nav-btn {
  background: none;
  border: none;
  color: inherit;
  /* font-size: clamp(.5rem, 3vw, 1.1rem); */
  cursor: pointer;
  padding: 0;
  padding: 1rem;
  /* width: max-content; */
  text-align: left;
}

.nav-btn:hover {
  color: rgb(152, 152, 152);
  text-decoration: underline;
}

@media (max-width: 720px) {
  .jessica-lin-text img {
    width: 100px;
  }

  .jessica-lin-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 7px;
    width: 120px;
  }
  
  button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
  }
}
