.image_caption {
  font-size: 12px;
  font-family: inherit;
  padding-top: 2px;
  padding-left: 2px;
  text-align: left;
  align-self: flex-start;
  text-align: left;
  width: 100%; /* Takes the full width of the container */
}

.pbold {
  font-size: clamp(.5rem, 3vw, 1rem);
  font-family: inherit;
  font-weight: 400;
}

.pink_title {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ff66c4;
  /* font-size: clamp(20px, 4vw, 40px); */
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  /* padding-bottom: 5px; */
  /* text-align: left; */
  /* width: 100%; */
}

.dark_title {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #491a37;
  font-size: clamp(1rem, 2vw, 2.7rem);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.pink_subtitle {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ff66c4;
  font-size: clamp(.5rem, 3vw, 1rem);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.line {
  background-color: #491a37;
  width: 100%;
  height: 3px;
}

.dark_header {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #491a37;
  font-size: clamp(.8rem, 3vw, 1.5rem);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  text-align: left;
}


/* .subtitle {
  padding-bottom: 10px;
  align-self: flex-start;
  font-size: clamp(.5rem, 3vw, 1rem);;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  text-align: left;
  width: 100%; 
  color: #491a37;
} */

.montserrat display-regular {
  font-family: 'CourierPS';
  src: url('../fonts/Courier-PS-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CourierPS';
  src: url('../fonts/Courier-PS-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.courier {
  font-family: 'CourierPS', monospace;
  font-style: normal;
}

@font-face {
  font-family: 'CourierPSBold';
  src: url('../fonts/Courier-PS-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.courier_bold {
  font-family: 'CourierPSBold', monospace;
  font-style: normal;
}

@font-face {
  font-family: 'Amsterdam';
  src: url('../fonts/Amsterdam-Handwriting.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.amsterdam-text {
  font-family: 'Amsterdam', cursive;
}

.email-link {
  color: #427c46; /* Replace with any color you want */
  /* You can also add :hover, :active, :visited, and :focus pseudo-classes to style different link states */
}

.email-link:hover {
  color: #63be69; /* Color when the mouse hovers over the link */
}


