.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  background-color: rgb(252, 252, 252);
  font-size: 10pt;
  font-weight: 300;
  justify-content: center; /* Horizontally center content */
  align-items: center;
}
.montserrat display-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  font-size: 20px;
  font-family: inherit;
}

.pbold {
  font-size: 22px;
  font-family: inherit;
  font-weight: 400;
}

.image_caption {
  font-size: 12px;
  font-family: inherit;
  padding-top: 2px;
  padding-left: 2px;
  text-align: left;
  align-self: flex-start;
  text-align: left;
  width: 100%; /* Takes the full width of the container */
}
.container_for_welcome_logo_container {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 454px;
  height: 120px;
  flex-direction: row;
}
.welcome_logo_container {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 217px;
  height: 100px;
  flex-direction: column;
}
.logo_container {
  display: flex;
  height: 40px;
  font-size: 16pt;
  justify-content: left;
  align-items: center;
  padding-top: 20px;
}

.subtitle {
  /* Apply this class to your subtitle */
  align-self: flex-start; /* Overrides parent flex alignment only for the subtitle */
  font-size: 22px;
  font-family: inherit;
  font-weight: 400;
  padding-bottom: 5px;
  text-align: left;
  width: 100%; /* Takes the full width of the container */
}

main {
  height: 95vh;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-content {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  min-height: calc(100vh - 50px - 73px);
  display: flex; /* Enables flexbox */
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  align-items: flex-start; /* Aligns items to the start of the container */
  margin-top: 73px;
}

footer {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 0;
  height: 50px;
  justify-content: space-around;
  width: 100%;
}

.footer-left {
  flex: 1;
  align-items: flex-start;
  max-width: 50%;
  font-size: 10pt;
  padding: 0px 25px;
  justify-content: flex-start; /* Pushes the right navbar-nav and the logo to the center and right respectively */
}
.footer-right {
  flex: 1;
  text-align: right;
  max-width: 50%;
  font-size: 10pt;
  padding: 0 25px;
}
.footer-btn {
  background: none;
  border: none;
  color: inherit;
  font-size: 10pt;
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  margin: 30px 15px;
}
.footer-btn:hover {
  color: rgb(152, 152, 152);
  text-decoration: underline;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Align items at the start of the container */
  flex: 1; /* Children will grow to fill the space */
  min-width: 370px;
  align-items: center;
  min-height: 100px;
}

.fixed-page-height-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  min-width: 370px;
  align-items: center;
  min-height: 200px;
  height: calc(100vh - 50px - 73px);
}

.half-block {
  flex: none; /* Equal amount of space */
  min-width: 420px;
  width: 50%; /* 50% of container's width */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  text-align: left; /* Centers the text horizontally */
  padding: 1rem; /* Adjust the padding as necessary */
  justify-content: row;
}
.third-block {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically within the container */
  align-items: center; /* Center children horizontally within the container */
  padding: 1rem; /* Adjust the padding as necessary */
  flex: 1; /* Children will grow to fill the space */
  max-width: 400px; /* Max width of the container */
  min-height: 575px; /* Min height of the container */
}

.image {
  width: 370px; /* Adjust if you want the image container to have a specific width */
  display: flex; /* This isn't necessary if .image is just a class on the img itself */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  margin-bottom: 0;
}
.image img {
  max-width: 100%; /* Keep the image within the bounds of its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* This ensures the image's aspect ratio is maintained */
}
.icon {
  width: 40px; /* or any specific size */
  padding-right: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 73px;
}
.navbar-nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: right;
}
.navbar-nav-middle {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 200;
  height: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar-nav-right {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-overflow: ellipsis;
}

.navbar-nav li {
  padding: 0 15px; /* Adjust the spacing between the menu items */
}

.navbar-nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase; /* Makes the text uppercase */
}
.navbar-nav-btn {
  background: none;
  border: none;
  color: inherit;
  font-size: 10pt;
  cursor: pointer;
  padding: 0;
  margin: 30px 15px;
  text-transform: uppercase;
  height: 100%;
}
.navbar-nav-btn:hover {
  color: rgb(152, 152, 152);
  text-decoration: underline;
}
.navbar-nav-icon {
  padding-bottom: 10px;
  width: 50px;
}
.navbar-nav-icon-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 90px;
  right: 30px;
}

.navbar-nav li {
  padding: 0 15px; /* Adjust the spacing between the menu items */
}

.navbar-nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase; /* Makes the text uppercase */
}
.navbar-nav-btn {
  background: none;
  border: none;
  color: inherit;
  font-size: 10pt;
  cursor: pointer;
  padding: 0;
  margin: 30px 15px;
  text-transform: uppercase;
  height: 100%;
}
.navbar-nav-btn:hover {
  color: rgb(152, 152, 152);
  text-decoration: underline;
}

.email-link {
  color: #427c46; /* Replace with any color you want */
  /* You can also add :hover, :active, :visited, and :focus pseudo-classes to style different link states */
}
.email-link:hover {
  color: #63be69; /* Color when the mouse hovers over the link */
}
.dropbtn {
  background: none;
  border: none;
  color: inherit;
  font-size: 10pt;
  cursor: pointer;
  padding: 0;
  padding: 13px 16px;
  text-transform: uppercase;
}
.dropbtn:hover {
  color: rgb(152, 152, 152);
  text-decoration: underline;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 9px;
}

.dropdown-content a {
  color: black;
  padding: 13px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: rgb(235, 234, 231);
}

.navbar .dropdown {
  display: inline-block;
}

.navbar .dropdown-content {
  left: 200; /* Adjust this as needed */
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
}
.resetGameButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0; /* Light grey background, was incorrectly labeled as green */
  outline-width: 2px; /* More typical outline width */
  outline-style: solid; /* This is needed to make the outline visible */
  outline-color: rgb(187, 187, 187);
  color: black; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Indicates clickable */
  font-size: 16px; /* Readability */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.app-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  height: 100%; /* Ensure the container fills its parent or has a defined height */
}

.tile {
  background-color: #4a4a4a;
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.row {
  display: flex;
}
.tile1 {
  background-color: #aad750;
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.tile2 {
  background-color: #a2d148;
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.revealedtile1 {
  background-color: #f0dfce;
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.revealedtile2 {
  background-color: #e7d5c4;
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
.mine {
  background-color: red;
  color: black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}
